/* Font ruels */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

html {
  scroll-behavior: smooth;
}

#curriculum {
  color: white;
}

* {
  box-sizing: border-box;
}
#menu {
  background-color: rgba(255, 255, 255, 0.9);
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ul.navbar-nav {
  float: right;
  text-align: center;
}
ul.navbar-nav li {
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  ul.navbar-nav {
    float: none;
  }
}
.container-fluid {
  padding: 0 1em;
}
.navbar-nav li a {
  color: black !important;
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  transition: 0.4s ease;
}
.navbar-nav li a:hover {
  color: #fff !important;
  background-color: black !important;
}
.navbar-brand {
  padding: 10px 15px !important;
}
a.navbar-brand .fa-globe {
  font-size: 30px;
  color: black;
  transition: 0.5s ease;
}
a.navbar-brand .fa-globe:hover {
  color: #3935e6;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #fff !important;
}

.container {
  margin: 0 auto;
  max-width: 996px;
}
.splash {
  background: url("sfondo.jpg") no-repeat fixed center bottom;
  background-size: cover;
  color: #fff;
}

.splash .container {
  padding-top: 15vh; /* No JS fallback*/
  padding-bottom: 10vh; /* No JS fallback*/
}
.profile-image {
  display: block;
  max-height: 250px;
  max-width: 250px;
  margin: 0 auto 1em;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
} 


.splash h1 {
  font-size: 40px;
  margin-bottom: 0.15em;
  text-align: center;
}

.lead {
  color: #000;
  font-family: "Roboto Mono", monospace;
  margin-left: -2%;
}
.container {
  font-family: "Ubuntu", sans-serif;
}

.splash .lead,
.splash .continue {
  display: inline-block;
  text-align: center;
}
h1.intro-text {
  margin: 0;
  color: black;
}
.splash .lead {
  font-size: 30px;
  margin-bottom: 1em;
  font-family: "Ubuntu", sans-serif;
  color: black;
}
mark {
  background-color: yellow;
  color: black;
}
#freccia {
  color: #000;
}

h1 {
  color: black;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* code for animated blinking cursor */
#typed-cursor {
  opacity: 1;
  font-size: 40px;
  color: black;
  font-weight: 50;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

#typed {
  font-size: 25px;
}

.splash .continue {
  font-size: 3em;
  display: block;
}



/* To add border */

/* .splash .continue a {
  border: 2px solid #000;
  border-radius: 100%;
  color: #000;
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
} */

.splash .continue a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
#about,
#portfolio,
#contact {
  padding-top: 4em !important;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  color: #fff;
  background: rgb(13, 79, 136);
  padding: 2%;
}

#portfolio{
  background: rgb(13, 79, 136);

}

#projects{
  color: #eee;
  font-size: 270%;
  margin-top: -10%;
  margin-bottom: 5%;
}

section.success a {
  color: black;
  transition: 0.4s ease;
}
section.success a:hover {
  outline: 0;
  color: #fff;
  border: 2px solid #fff;
}
.contact-button {
  padding-bottom: 2%;
}
hr.star-light,
hr.star-portfolio {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 3px;
  text-align: center;
}

hr.star-light:after,
hr.star-portfolio:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -0.8em;
  padding: 0 0.25em;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}
hr.star-portfolio {
  background-color: #ccc;

}
hr.star-portfolio:after {
  color: black;
  background-color: #eee;
}
hr.star-light:after {
  color: #fff;
  background-color: rgb(13, 79, 136);
}
p.content-text {
  font-size: 25px;
}

/* PORTFOLIO */
.portfolio-card {
  box-shadow: 0px 2px 5px #888888;
  background: #eee;
  border-radius: 4px;
}

.portfolio-card:hover {
  box-shadow: 0px 10px 10px #888888;
  cursor: pointer;
}

.portfolio-container-holder {
  background: #eee;
  padding-bottom: 20px;
}

.portfolio-card-holder {
  padding: 5px;
  margin-bottom: 5px;
}

.portfolio-img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.portfolio-img-desc {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 5px;
}

/* Contact */
.contact-me-container {
  padding: 3%;
  background: rgb(13, 79, 136);
}
.fa-user,
.fa-at,
.fa-phone {
  color: black;
}
.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ========================
Footer
======================== */

footer {
  background-color: #fff;
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding: 3%;
}
a.tel,
a.tel:hover {
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}
a.social-button {
  background: #fff;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
}
.address-container {
  display: inline-block;
  margin: 0 auto;
}
a.link-facebook,
a.link-twitter,
a.link-codepen,
a.link-linkedin,
a.link-instagram {
  transition: 0.4s ease;
}

a.link-facebook {
  background-color: #3b5998;
  color: #fff;
}
a.link-linkedin {
  background-color: #007bb6;
  color: #fff;
}

a.link-facebook:hover {
  color: #3b5998;
  background-color: #fff;
}


a.link-linkedin:hover {
  color: #007bb6;
  background-color: #fff;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: transparent !important;
}
.fa-heart {
  color: #f32323;
}
h4.author {
  letter-spacing: 4px;
}
hr.footer-hr {
  width: 150px;
}
hr.copyright {
  opacity: 0.4;
}
















/* Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Cards */
.posts-box {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 10px;
  text-align: center;
  list-style: none;
}

.posts-box li {
  display: inline-block;
  width: 320px;
  max-width: 100%;
  padding: 10px;
  vertical-align: top;
}

.card {
  text-align: left;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow:
    0 2px 4px rgba(0,0,0,0.10),
    0 1px 2px rgba(0,0,0,0.22);
  color:rgb(0, 0, 0);
}

.card img {
  display: block;
  width: 100%;
}

.card div {
  padding: 16px 20px;
  border-bottom: 1px solid #EEEEEE;
}

.card div h3 {
  margin: 8px 0;
  font-size: .9em;
}

.card div p {
  margin: 8px 0;
  font-size: .9em;
}

.button {
  color: rgb(13, 79, 136);
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
}

.button:hover {
  opacity: .7;
}

/* Page */
.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  color:rgb(0, 0, 0);
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  background: #FFFFFF;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.modal-header img {
  width: 100%;
}

.modal-body {
  padding: 60px 8%;
}

.modal-body h2 {
  margin-bottom: 30px;
  letter-spacing: .06em;
}

.modal-body p {
  font-size: .9em;
  line-height: 1.5em;
}

@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

button {
  min-width: 120px;
  top: 50%;
  left: 50%;
  padding: 16px 32px;
  margin: 24px 8px 0 0;
  background: transparent;
  text-decoration: none;
  border: 1px solid rgb(13, 79, 136);
  outline: none;
  color: rgb(13, 79, 136);
  cursor: pointer;
}

.disabled {
  opacity: .4;
  cursor: auto;
}

@media (max-width: 620px) {
  button {
    width: 100%;
    min-width: auto;
  }
}
